/******************************************
/* VARIABLES
/*******************************************/
:root{
    --body-color: #fafafa;
    --color-white: #ffffff;

    --text-color-second: #444444;
    --text-color-third: #1e9fab;

    --first-color: #6e57e0;
    --first-color-hover: #285bd4;
    --first-shadow-color: #00000018;

    --second-color: #00c9ff;
    --third-color: #C0A631;
}
/******************************************
/* GLOBAL DESIGN
/*******************************************/
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    display: block;
    margin: 0 auto;
}
.btn{
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    background: #efefef;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.btn > i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}
i{
    font-size: 16px;
}
/******************************************
/* SCROLLING STYLE
/*******************************************/
:root{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
/******************************************
/* BASE
/*******************************************/
body{
    background: var(--body-color);
}
.container{
    position: relative;
    width: 100%;
}
/******************************************
/* HEADER
/*******************************************/
header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.header-logo{
    position: relative;
}
.header-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.header-name + span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-bar, .nav-bar-list{
    display: flex;
}
.nav-bar, .nav-list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-button{
    display: none;
}
.nav-menu-button i{
    font-size: 28px;
    cursor: pointer;
}
/******************************************
/* HERO
/*******************************************/
.wrapper{
    padding-inline: 10vw;
}
.hero-section{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}
.hero-highlight{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.hero-name span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.hero-text{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.animated-text{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.hero-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second)
}
.hero-text-button{
    display: flex;
    gap: 20px;
}
.hero-text-button .btn-blue{
    background: var(--first-color);
    color: var(--color-white);
}
.hero-text-button .btn-blue:hover{
    background: var(--first-color-hover);
}
.social-icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}
.hero-image-section{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.hero-image{
    margin: auto 0;
    width: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.hero-image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (max-width: 1024px){
    .hero-highlight{
        padding: 0;
    }
    .hero-image, .hero-image img{
        width: 320px;
        height: 320px;
    }
}
@media screen and (max-width: 900px){
    .header-button{
        display: none;
    }
    .nav-bar.hidden{
        left: 0;
    }
    .nav-bar{
        position: fixed;
        top: 70px;
        left: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: 0.3s;
    }
    .nav-bar-list{
        flex-direction: column;
    }
    .nav-menu-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .hero-highlight{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social-icons{
        margin-top: 2em;
    }
    .hero-image-section{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .hero-image, .hero-image img{
        width: 150px;
        height: 150px;
    }
}