/* *****************************************
/* VARIABLES
/*******************************************/
:root{
    --body-color: #0B0C10;
    --color-white: #dadada;

    --text-color-second: #C5C6C7;
    --text-color-third: #1e9fab;

    --first-color: #45A29E;
    --first-color-hover: #285bd4;
    --first-shadow-color: #FFFFFF18;

    --second-color: #66FCF1;
    --third-color: #1F2833;
}
/******************************************
/* GLOBAL DESIGN
/*******************************************/
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    display: block;
    margin: 0 auto;
}
.btn{
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    background: #efefef;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.btn > i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}
i{
    font-size: 16px;
}
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--third-color);
    margin-bottom: 15px;
}
.social-icons a{
    text-decoration: none;
}
/******************************************
/* SCROLLING STYLE
/*******************************************/
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #0d0e13;
}
::-webkit-scrollbar-thumb{
    background: var(--color-white);
    border-radius: 30px;
}
/******************************************
/* BASE
/*******************************************/
html, body{
    overflow-x: hidden;
}
body{
    background: var(--body-color);
}
.container{
    position: relative;
    width: 100%;
}
/******************************************
/* HEADER
/*******************************************/
#header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.header-logo{
    position: relative;
}
.header-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.header-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--color-white);
}
.nav-bar, .nav-bar-list{
    display: flex;
}
.nav-bar, .nav-list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-button{
    display: none;
}
.nav-menu-button i{
    font-size: 28px;
    cursor: pointer;
}
.active-section{
    position: relative;
    color: var(--first-color);
}
.active-section::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}
/******************************************
/* HERO
/*******************************************/
.wrapper{
    padding-inline: 10vw;
}
.hero-section{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}
.hero-highlight{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.hero-name span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.hero-text{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.animated-text{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.hero-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second)
}
.hero-text-button, .media-div{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-white);
}
.hero-text-button .btn-blue{
    background: var(--first-color);
    color: var(--color-white);
}
.hero-text-button .btn-blue:hover{
    background: var(--first-color-hover);
}
#site-button, #dev-button{
    width: 100px;
    padding: 12px;
}
.social-icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    background: var(--color-white);
    color: var(--body-color);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}
.hero-image-section{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.hero-image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.hero-image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--body-color);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i{
    font-size: 20px;
}
/******************************************
/* ABOUT
/*******************************************/
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
    width: 100%;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: var(--third-color);
}
.about-button button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.about-button button:hover{
    background: var(--first-color-hover);
}
.skills-info{
    width: 40%;
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-header h3{
    color: var(--color-white);
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 15px;
}
/******************************************
/* PROJECTS
/*******************************************/
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.project-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 350px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.project-image{
    height: 250px;
    position: relative;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.project-image img{
    width: 110%;
    height: 110%;
    object-fit: cover;
}
.project-card span{
    font-size: 20px;
    color: #00B5E7;
    margin: 10px 5px;
}
.project-card p{
    font-size: 15px;
    color: var(--body-color);
    text-align: center;
    margin-bottom: 15px;
}
.project-icons{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 100%;
    gap: 30px;
    z-index: 2;
    transition: 0.4s;
}
.project-icons .icon{
    background: var(--color-white);
}
.project-image::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -101%;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 1;
}
.project-image:hover.project-image::after, .contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-image:hover.project-image .project-icons{
    top: 45%;
}
/******************************************
/* CONTACT
/*******************************************/
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--first-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info h2{
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact-info p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p i{
    font-size: 18px;
}
.contact-info::after{
    background: var(--color-white);
}
.contact-info:hover.contact-info h2, .contact-info:hover.contact-info p, .contact-info:hover.contact-info i{
    color: #777;
    z-index: 2;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    padding-inline: 20px;
    outline: none;
    border-radius: 10px;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    padding: 15px 20px;
    outline: none;
    border-radius: 10px;
    resize: none;
}
.form-button .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--color-white);
}
.form-button .btn:hover{
    background: #00B5E7;
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}
.input-field, #message-box{
    color: var(--color-white) !important;
}
/******************************************
/* FOOTER
/*******************************************/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #101115;
    padding-block: 40px 60px;
    color: var(--color-white);
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}
.middle-footer, .footer-menu{
    display: flex;
}
.footer-menu-list{
    list-style: none;
}
.footer-menu-list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.bottom-footer p a{
    text-decoration: none;
    color: var(--second-color);
}
.footer-social-icons{
    display: flex;
    gap: 30px;
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}
/******************************************
/* MEDIA QUERIES
/*******************************************/
@media only screen and (max-width: 1024px){
    .hero-highlight{
        padding: 0;
    }
    .hero-image, .hero-image img{
        width: 320px;
        height: 320px;
    }
}
@media only screen and (max-width: 900px){
    .header-button{
        display: none;
    }
    .nav-bar.hidden{
        left: 0;
    }
    .nav-bar{
        position: fixed;
        top: 70px;
        left: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(11, 12, 16, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 100vh;
        transition: 0.3s;
        overflow: hidden;
        text-align: center;
    }
    .nav-bar-list{
        flex-direction: column;
    }
    .nav-menu-button{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .hero-highlight{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social-icons{
        margin-top: 2em;
    }
    .hero-image-section{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .hero-image, .hero-image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .skills-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-card{
        width: 80%;
    }
    .hero-text-button{
        flex-direction: column;
    }
}
@media only screen and (max-width: 540px){
    .hero-name{
        font-size: 40px;
    }
    .project-card{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}
@media only screen and (max-width: 376px){
    .scroll-btn{
        display: none;
    }
}